@import "tailwindcss";

@font-face {
  font-family: 'Narnia';
  src: url('/fonts/Narnia.ttf') format('truetype');
}
@font-face {
  font-family: 'Lincoln-M1';
  src: url('/fonts/LincolnMITRE-LM5X7.otf');
}
@font-face {
  font-family: 'Lincoln-M2';
  src: url('/fonts/LincolnMITRE-LM7x9.otf');
}
@font-face {
  font-family: 'Vhs-italic';
  src: url('/fonts/VhsFitness-Italic.otf');
}
@font-face {
  font-family: 'Vhs-regular';
  src: url('/fonts/VhsFitness-Regular.otf');
}
@font-face {
  font-family: 'Mind-explorer';
  src: url('/fonts/MindExplorer.otf');
}
@font-face {
  font-family: 'Spgelasky';
  src: url('/fonts/SPGELASKY-Regular.otf');
}

@font-face {
  font-family: 'Menlo';
  src: url('/fonts/Menlo-Bold.ttf');
}

@font-face {
  font-family: 'Googi';
  src: url('/fonts/Googi.otf')
}
@theme {
  --font-Narnia: "Narnia", sans-serif;
  --font-Lincoln-M1: "Lincoln-M1", sans-serif;
  --font-Lincoln-M2: "Lincoln-M2", sans-serif;
  --font-vhs-italic: "Vhs-italic", sans-serif;
  --font-vhs-regular: "Vhs-regular", sans-serif;
  --font-Mind-explorer: "Mind-explorer", sans-serif;
  --font-Spgelasky: "Spgelasky", sans-serif;
}
.mouse-negative{
  
  filter: hue-rotate(60%);
  
}



@layer utilities {
   /* .noisy {
        @apply absolute inset-0 size-full bg-[url("/images/noise.png")] ;
    } */
     .noisy {
        @apply inset-0 bg-[url("/images/noise.png")] ;
    }
}

@layer components {
  /* Inline SVG wave (PNG replacement) */
  .wave-text {
    @apply
      uppercase
      font-bold
      text-center
      select-none
      h-[100rem];
  }
}




